$main__font-family: 'Poppins', sans-serif;
$secondary__font-family: muli, sans-serif;

$regular__font-weight: 400;
$bold__font-weight: 700;

$main__text-color: #222;
$secondary__text-color: #1575c7;

$button__color: #1575c7;

$accent__color: #40bfef;
$white__color: #fff;
$black__color: #000;
